body {
	font: 14px "Century Gothic", Futura, sans-serif;
}

.footer {
	text-align: center;
	margin: 8px auto;
}
#root {
	min-width: 300px;
}
.game {
	width: 300px;
	padding: 10px;
	margin: 0 auto;
	text-align: center;
}

.title {
	font-size: 200%;
	font-weight: bold;
	margin-bottom: 6px;
	text-align: center;
}

.info-container {
	height : 40px;
	margin-bottom: 0 auto;
	text-align: center;
}

.instructions {
	text-align: center;
	margin: 0 auto;
}

.winning {
	margin-bottom: 6px;
	font-size: 160%;
	font-weight : bold;
	height : 40px;
	
	text-align: center;
}
.board-row {
	margin: 0 auto;
	text-align: center;
}
.board-row:after {
	clear: both;
	content: "";
	display: table;
}

.nav-bar {
	margin-top: 8px; 
	text-align: center;
}

.game-area {
	text-align: center;
}

.card-container {
	display: inline-block;  
}

.square, .face, .back {
	width: 40px;
	height : 40px;
}
.square {
	display : inline-block;
	position: relative;
	margin: 1px;
	width: 40px;
	box-shadow: 0 2px 4px 0 rgba(0,0,0,0.2);
    transition: 0.2s;
	perspective: 800px;
}

.card{
	text-align:center;
	position: absolute;
	width: 100%;
	height: 100%;
	transform-style: preserve-3d;
	transition: 0.5s;
	transform: rotateY(0deg);
}

.card.flipped{
	transform: rotateY(180deg);
}

.face {
	border-radius: 4px;
	position: absolute;
	width: 100%;
	height: 100%;
	left: 0;
	top: 0;
	font-size: 24px;
	vertical-align: top;
	font-weight: bold;
	line-height: 34px;
	height: 40px;
	transform-style: preserve-3d;
	transition: 0.5s;
	padding: 0;
	border: 1px solid #000;
	text-align: center;
}
.face.front{
	background:#fff;
	transform: rotateY(180deg);
}
.face.back {
	background: #e50000; /*fall back color if repeating-linear-gradient not available*/
	backface-visibility: hidden;
	background: repeating-linear-gradient(
	  135deg,
	  #e50000,
	  #e50000 2px,
	  #000000 2px,
	  #000000 4px
	);
}

.visible {
	background : #fff
}

.faded {
	visibility: hidden;
	background: none;
	border : none;
}

.guessed .face.front {
	border: 3px double green;
}
.square:hover {
	box-shadow: 0 4px 8px 0 rgba(0,0,0,0.4);
}
.square:active {
	box-shadow: 0 2px 4px 0 rgba(0,0,0,0.2);
}

fieldset {
	clear : both;
	padding : 5px;
	margin: 0 auto;
	text-align: center;
}

.field-row {
	margin: 0 auto;
	width: 100%;
	text-align: center;
}
.field-label {
	padding-right: 2px;
	width : 50%;
	text-align: right;
	display: inline-block;
}
.field-value {
	padding-left: 2px;
	text-align: left;
	width : 50%;
	display: inline-block;
}
